@layer radix_ui,tw_components_utils;
@layer tw_components_utils{
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

}

@import "@radix-ui/themes/styles.css";



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
body::after {
  content: "";
  background: url(/app-background.jpg) no-repeat center center fixed;
  background-size: cover; /* This will make the image cover the entire container */
  opacity: 0.2; /* Set your desired opacity here */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed; /* Fixed position will make the image cover the entire viewport */
  z-index: -1;
}

